<div class="bg-primary text-white p-3"
     style="width:260px;"
     th:fragment="sidebar">

    <h4 class="mb-4">

        <i class="bi bi-mortarboard-fill"></i>

        Sistema Escolar

    </h4>

    <ul class="nav flex-column">

        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="/">
                <i class="bi bi-house-fill"></i>
                Dashboard
            </a>
        </li>

        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="/alunos">
                <i class="bi bi-people-fill"></i>
                Alunos
            </a>
        </li>

        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="/professores">
                <i class="bi bi-person-workspace"></i>
                Professores
            </a>
        </li>

        <li class="nav-item mb-2">
            <a class="nav-link text-white" href="/disciplinas">
                <i class="bi bi-book-fill"></i>
                Disciplinas
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="/cursos">
                <i class="bi bi-mortarboard"></i>
                Cursos
            </a>
        </li>

    </ul>

</div>